body {
	margin: 0px;
}
#container {
	display: flex;

}
#debug {
	flex: 1 1;
}
#main {
	flex: 0 0 800px;
	width: 800px;
	height: 450px;
	position: relative;
	background-image: url('../images/background.png');
	overflow: hidden;
	tabindex: -1;
}
#overlays {
	width: 800px;
	height: 450px;
}
#hudOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1001;
}
#points {
	color: white;
	font-size: 34px;
	font-weight: bold;
    position: relative;
	left: 10px;
}
#startOverlay {
	width: 100%;
	height: 100%;
	background-image: url('../images/start_overlay.png');
	z-index: 1002;
}
#overOverlay {
	width: 100%;
	height: 100%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	display: none;
    position: relative;
    overflow-y: auto;
	z-index: 1003;
}
#tydo {
	flex: 1 1;
}

body.mobile #debug {
	display: none;
}
body.mobile #tydo {
	display: none;
}
/*
body.mobile #overlays {
	width: 100%;
	height: 100%;
}
body.mobile #main {
	flex: 1 1 auto;
	height: 100vh;
}
*/
body.mobile footer {
	display: none;
}